<html>
  <head>

    <title>Contact us!</title>

  </head>
  <body>
    <% include partials/navigator.ejs %>
    <h1> Contact us </h1>
    <ul>
      <li>Email: ranjeevneurekar@hotmail.com</li>
      <li>Phone: (347)722-0862</li>
    </ul>
  </body>

</html>
